<html>
  <head>
    <title>Target: MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  
    <h1>Eldest director</h1>

<p>The eldest director in our dataset right now is <a href="/directors/578">Ridley Scott</a>, born on November 30, 1937.</p>

<p>(<a href="http://strftime.net/" target="_blank">http://strftime.net/</a> is handy for putting together the formatting strings for the <code>.strftime</code> method.)</p>

    <a href="/about.html">About</a>
  </body>
</html>
