
<html>
  <head>
    <title>Target: MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
   

    <h1>Youngest director</h1>

<p>The youngest director in our dataset right now is <a href="/directors/2518227">Cathy Yan</a>, born on September 19, 1988.</p>


    <a href="/about.html">About</a>
  </body>
</html>
